.box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 10px;
    border: 1px solid #a7535a;
    border-radius: 5px;
    .title{
        font-size: 20px;
        color: #541e24;
    }
}